body {
 background-color: #000000;
 color: #FFFFFF;
}
a {
 color: #FFFFFF;
}
.errortext {
 color: #881A1A;
 padding: 1em;
}
.sitestatus {
 color: #F0FF00;
 padding: 1em;
}
.tagline {
 font: 0.6em "Lucida Grande", Lucida, Verdana, sans-serif;
 color: #FFFFFF;
}
.logorealname {
 font: 3.5em "Lucida Grande", Lucida, Verdana, sans-serif;
 color: #FFFFFF;
}
.logotext {
 font: 0.8em "Lucida Grande", Lucida, Verdana, sans-serif;
 color: #FFFFFF;
 padding-bottom: 2em;
}
.externallink {
 font: 0.6em "Lucida Grande", Lucida, Verdana, sans-serif;
 padding-bottom: 2em;
}
