body {
 background-color: #183379;
 color: #000000;
}
a {
 color: #FFFFFF;
}
.tagline {
 font: 0.6em "Lucida Grande", Lucida, Verdana, sans-serif;
 color: #000000;
}
.logorealname {
 font: 2.5em "Lucida Grande", Lucida, Verdana, sans-serif;
 color: #FFFFFF;
}
.logotext {
 font: 0.8em "Lucida Grande", Lucida, Verdana, sans-serif;
 color: #FFFFFF;
 padding-bottom: 2em;
}
.box { 
 background: #FFFFFF; 
}
.boxtop { 
  background: url(img/obama_ne.gif) no-repeat top right; 
}
.boxtop div { 
  height: 10px; 
  background: url(img/obama_nw.gif) no-repeat top left; 
}
.boxbottom { 
  background: url(img/obama_se.gif) no-repeat bottom right; 
}
.boxbottom div { 
  height: 10px; 
  background: url(img/obama_sw.gif) no-repeat bottom left; 
}

