body {
 margin: 80px 40px 40px;
 font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
}
.boxcontent {
  padding: 10px 10px 10px 10px;
  color: #000000;
}
.box {
 background: #FFFFFF;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
}

