Options -Indexes
AddHandler application/x-httpd-php .php

<Files .htaccess>
    order allow,deny
    deny from all
</Files>

<Files .htpasswd>
    order allow,deny
    deny from all
</Files>

<Files mime.types>
    order allow,deny
    deny from all
</Files>

<Files .svn>
    order allow,deny
    deny from all
</Files>

